.rmdb-header {
  width: 100%;
  height: auto;
  background: #1c1c1c;
  padding: 0 20px;
  box-sizing: border-box;

}

.rmdb-header-content {
  max-width: 1280px;
  min-height: 120px;
  max-height: 130px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between

}


.rmdb-logo {
  width: 100px;
  margin-top: 20px;
  /* float: left; */
}

.rmdb-header-title {
  color: white;
  /* padding-right: 100px; */
  font-family: 'Abel', sans-serif;
  font-size: 80px;
    color: #fff;
}

.rmdb-tmdb-logo {
  width: 122px;
  /* margin-top: 25px; */
  padding: 25px;

  /* float: right; */
}

@media screen and (max-width: 700px) {
  .rmdb-header-title {
    color: white;
    /* padding-right: 100px; */
    font-family: 'Abel', sans-serif;
    font-size: 40px;
      color: #fff;
  }
}

@media screen and (max-width: 500px) {
  .rmdb-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .rmdb-tmdb-logo {
    display: inline-block;
    width:80px;
    margin-top: 0px;
  }

  .rmdb-logo {
    width: 150px;
    margin-top: 5px;
  }
  .rmdb-header-title {
    color: white;
    /* padding-right: 100px; */
    font-family: 'Abel', sans-serif;
    font-size: 40px;
      color: #fff;
  }
}